
[submodule "third_party/nuklear"]
	path = third_party/nuklear
	url = https://github.com/EvilPudding/Nuklear
[submodule "third_party/tinydir"]
	path = third_party/tinydir
	url = https://github.com/cxong/tinydir
